<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új Sütemény</title>
</head>
<body>
  <form method="post">
    <div>
      <label>
        Név:<br>
        <input type="text" name="nev">
      </label>
    </div>

    <div>
      <label>
        Ár:<br>
        <input type="number" name="ar">
      </label>
    </div>

    <div>
      <label>
        Leírás:<br>
        <input type="text" name="leiras">
      </label>
    </div>

    <div>
      <input type="submit" value="Új sütemény">
    </div>
  </form>
</body>
</html>
